VITE_SUPABASE_URL=https://dhcrpjqziinevuxczkvj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoY3JwanF6aWluZXZ1eGN6a3ZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzY1MzksImV4cCI6MjEwMDI1MjUzOX0.-W_jziqjnB97u7_Zg1zYSeUXTi07C4lIOIj3BoU0pa8
